.cmd {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #202020;
    border: 4px solid silver;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #6e6e6e;
    color: #e2e2e2;
    display: block;
    font: 1em 'andale mono', 'lucida console', monospace;
    line-height: 1em;
    overflow: auto;
    padding: 15px;
}

.auto-wrap {
    word-wrap: normal;
    white-space: normal;
}

pre.auto-wrap {
    word-wrap: normal;
    white-space: pre-wrap;
}

.poem {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: transparent;
    border: 8px solid #97894C;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #000;
    color: black;
    font-weight: bold;
    display: block;
    font: 2em DFKai-SB, 'andale mono', 'lucida console', monospace;
    line-height: 1em;
    overflow: auto;
    padding: 15px;
    position: relative;
}

.poem::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('http://zizhujy.com/Image/GetRandomImageSegment?vdir=~/Content/AlongTheRiverDuringQingMingFestival/');
    width: 100%;
    height: 100%;
    opacity: 0.3;
    filter: alpha(opacity=30);
    /* works for IE 8. */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    z-index: 0;
}