/* 仿Google的表格样式; 涂鸦， 2010-1-21 */
table.tbLikeGoogle 
{
    border: solid 1px #CCCCCC;
    border-collapse: collapse;
    width: 99%;
    background-color: White;
}

table.tbLikeGoogle tr
{
    border: solid 1px #CCCCCC;
}

/* 鼠标经过的样式 */
table.tbLikeGoogle tr:hover
{
    background-color: #F1FCFF;
}    

table.tbLikeGoogle thead tr 
{
    border-bottom: solid 1px #a6a6a6;
}

/* 表头当鼠标经过时样式不变 */
table.tbLikeGoogle thead tr:hover
{
    border-bottom: solid 1px #a6a6a6;
    background-color: transparent;
}

table.tbLikeGoogle tr td 
{
    padding: 6px 0 6px 3px;
    /* IE 7 及以下不支持 tr 的border属性 */
    border-top: solid 1px #CCCCCC;
    border-bottom: solid 1px #CCCCCC;
    text-align: left;
}

/* 链接样式 */
table.tbLikeGoogle tr td a:link 
{
    padding: 0!important;
    margin: 0!important;
    color: #2244DD!important;
    text-decoration: underline!important;
}

table.tbLikeGoogle tr td a:link 
{
    padding: 0!important;
    margin: 0!important;
    color: #2244DD!important;
    text-decoration: underline!important;
}

table.tbLikeGoogle tr td a:link 
{
    padding: 0!important;
    margin: 0!important;
    color: #2244DD!important;
    text-decoration: underline!important;
}

table.tbLikeGoogle tr td a:link 
{
    padding: 0!important;
    margin: 0!important;
    color: #2244DD!important;
    text-decoration: underline!important;
}

table.tbLikeGoogle thead tr th
{
    /* IE 7 及以下不支持 tr 的border属性 */
    border-bottom: solid 1px #a6a6a6;
    text-align: left;
    padding: 6px 0 6px 3px;
    vertical-align: top;
}

table.tbLikeGoogle thead tr th .filter 
{
    font-weight: normal;
}
/* 仿Google的表格样式；结束 */

/* 涂鸦表格样式；涂鸦，2010-8-15 */
table.tbDoodles 
{
    color: Black;
    border-collapse: collapse;
    width: auto;
    border: solid 1px #666;
    border-spacing: 0; /* 控制单元格之间的距离。IE6及更低版本不理解此属性，需要在<table />元素中添加 cellspacing="0" */
}

table.tbDoodles caption 
{
    font-size: 1.2em;
    font-weight: bold;
    margin: 1em 0;
}

table.tbDoodles col 
{
    border-right: solid 1px #ccc;
}

/* 最后一列的效果 */
table.tbDoodles col.LastCol, table.tbDoodles col.lastCol, table.tbDooles col.lastColumn, table.tbDoodles col.LastColumn
{
    border: none;
}

table.tbDoodles th, table.tbDoodles td 
{
    padding: 0.1em 1em;
}

table.tbDoodles .lastColCell 
{
    border: none;
}

table.tbDoodles thead 
{
    background: #ccc url(images/bar.gif) repeat-x left center;
    /*border-top: solid 1px #a5a5a5;*/
    border-bottom: solid 1px #a5a5a5;
}

table.tbDoodles th 
{
    font-weight: normal;
    text-align: left;
}

table.tbDoodles #idListPostHead 
{
    text-indent: -1000em;
}

/* 此Style为了通用而设置，其实与上面的效果一样 */
table.tbDoodles .ListPostHead 
{
    text-indent: -1000em;
}

table.tbDoodles .odd 
{
    background-color: #edf5ff;
}

table.tbDoodles tr:nth-child(odd) 
{
    background-color: #edf5ff;
}

table.tbDoodles thead tr:nth-child(odd) 
{
    background-color: Transparent;
}

table.tbDoodles tr.selected 
{
    background-color: #6fb3ff;
    color: #fff;
}

table.tbDoodles tr:hover 
{
    background-color: #3d80df;
    color: #fff;
}

table.tbDoodles thead tr:hover 
{
    background-color: Transparent;
    color: inherit;
}
/* 涂鸦表格样式；结束 */

/* 数据表格样式；开始 */
table.tbGridView {
    border-collapse: collapse;
    border: solid 1px black;
}

table.tbGridView th, table.tbGridView td {
    border: solid 1px black;
    padding: 5px 1em;
}
/* 数据表格样式；结束 */

/* 简洁表格样式；开始 */
table.simple {
    border-collapse: collapse;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

table.simple thead {
    border-bottom: solid 2px black;
}

table.simple td {
    border: solid 1px gray;
}
/* 简洁表格样式；结束 */